################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestQueueRabbtiMq
/TestRabbtiMq.Publishers.Api/obj
/TestRabbtiMq.Publishers.Api/bin
/TestRabbitMq.Events/bin
/TestRabbitMq.Events/obj
/TestRabbitMq.Events/obj
/TestRabbitMq.Consumers/obj
/TestRabbitMq.Consumers/bin
/Brokers.RabbitMq/obj
/Brokers.RabbitMq/bin
/RunForestRun.RabbitMq.Consumers.Example/obj
/RunForestRun.RabbitMq.Consumers.Example/bin
/RunForestRun.RabbitMq.Publishers.Api/obj
/RunForestRun.RabbitMq.Publishers.Api/bin
/RunForestRun.RabbitMq.Events.Example/bin
/RunForestRun.RabbitMq.Events.Example/obj
/RunForestRun.RabbitMq.Publishers.Api/obj
