################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestQueueRabbtiMq
/Brokers.RabbitMq/obj
/Brokers.RabbitMq/bin
/RunForestRun.RabbitMq.Consumers.Example/obj
/RunForestRun.RabbitMq.Consumers.Example/bin
/RunForestRun.RabbitMq.Publishers.Api/obj
/RunForestRun.RabbitMq.Publishers.Api/bin
/RunForestRun.RabbitMq.Events.Example/bin
/RunForestRun.RabbitMq.Events.Example/obj
/RunForestRun.RabbitMq.Publishers.Api/obj
/RunForestRun.RabbitMq.Publishers.Api/RunForestRun.RabbitMq.Publishers.Api.csproj.user
/Brokers.Common/bin/Debug/net5.0
/Brokers.Common/obj
